## Django related requirements
Django >= 1.7.2
django-allauth >= 0.19.0
django-bootstrap-form >= 3.1
django-debug-toolbar >= 1.2.2
django-taggit >= 0.12.2
django-uuidfield >= 0.5.0

## Postgresql specific requirements
# uncomment if you use postgres
#psycopg2 >= 2.5.4

## Other requirements
pytz >= 2014.10
requests >= 2.5.1
