{% extends "base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "Profile" %}{% endblock head_title %}

{% block content %}
    <div class="col-lg-8">
        <form method="post" class="form-horizontal">
            <fieldset>
                <h2>Edit Profile</h2>
                <p>You can edit your profile below. You can also <a href="/accounts/email/" class="btn btn-default btn-xs">manage emails</a> attached to your account.</p>
                {% csrf_token %}
                {% include 'includes/formfields/textfield.html' with fieldname='firstname' label='First Name:' formfield=form.firstname placeholder='First Name(s)' %}
                {% include 'includes/formfields/textfield.html' with fieldname='lastname' label='Last Name:' formfield=form.lastname placeholder='Last Name' %}
                {% url 'profile_show' as cancelurl %}
                {% include 'includes/formfields/submitcancel.html' with submittext='Save Profile' canceltext='Cancel' cancelurl=cancelurl %}
            </fieldset>
        </form>
    </div>
{% endblock content %}

{% block extra_body %}
{% endblock extra_body %}
