# local settings for this tlsscout installation,
# the configurable bits are wrapped in jinja style double curly brackets

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '{{ django_secret_key }}'

# debug settings - remember to set allowed_hosts if debug is disabled
DEBUG={{ django_debug }}
ALLOWED_HOSTS = {{ django_allowed_hostnames }}

# Database settings
# https://docs.djangoproject.com/en/2.0/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ django_postgres_dbname }}',
        'USER': '{{ django_postgres_user }}',
        'PASSWORD': '{{ django_postgres_password }}',
        'HOST': '{{ django_postgres_host }}',
    },
}

# admin site url prefix, set to 'admin' for /admin/
ADMIN_PREFIX='admin'

# email settings
#EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
EMAIL_HOST='{{ django_email_host }}'
EMAIL_PORT={{ django_email_port }}
EMAIL_HOST_USER='{{ django_email_user }}'
EMAIL_HOST_PASSWORD='{{ django_email_password }}'
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL='{{ django_email_from }}' # NOTE: this email is included in the useragent when using the SSL Labs API
ADMINS={{ django_admins }}

# enable new accout creation / signups / registration?
ENABLE_SIGNUP={{ tlsscout_enable_signup }}

# pagination
EVENTS_PER_PAGE=100

