import os

# make this a long random string, ~100 chars
SECRET_KEY = ''

# set to your tlsscout hostname
ALLOWED_HOSTS = [ 'example.com' ]

# Database
# https://docs.djangoproject.com/en/1.7/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

# email settings
EMAIL_HOST='mailhost.example.com'
EMAIL_PORT=587
EMAIL_HOST_USER='mymailuser'
EMAIL_HOST_PASSWORD='mymailpassword'
EMAIL_USE_TLS=True
EMAIL_FROM='noreply@example.com'     # NOTE: this email is included in the useragent when using the SSL Labs API

# enable new accout creation / signups / registration?
ENABLE_SIGNUP=True

