{% extends "base.html" %}
{% load i18n %}
{% block head_title %}No Sites in Group{% endblock head_title %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>No Sites in Group "{{ group.name }}"</h4></div>
  <div class="panel-body">
    <p>Group <b>{{ group.name }}</b> has zero sites, so no checks can be scheduled.</p>
    <a href="{% url 'group_list' %}" class="btn btn-info"><i class="fa fa-list"></i> Back to Group List</a> 

  </div>
</div>
{% endblock content %}
