{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load get_group_alerting %}
{% block head_title %}{{ group.name }} details{% endblock head_title %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><h4>Details for group {{ group.name }}</h4></div>
    <div class="panel-body">
        <p>This group of sites is being checked every <b>{{ group.interval_hours }} hours</b>. Result publishing is <b>{% if group.publish %}enabled{% else %}not enabled{% endif %}</b> for sites in this group.</p>
        {% if user.is_authenticated %}
            {% if group|get_group_alerting:request.user %}
                <p>Alerting for this group is enabled for your user <a href="{% url 'disable_group_alert' alertid=group|get_group_alerting:request.user %}" class="btn btn-danger btn-xs"><i class="fa fa-bell"></i> Disable</a></p>
            {% else %}
                <p>Alerting for this group is not enabled for your user <a href="{% url 'enable_group_alert' groupid=group.id %}" class="btn btn-success btn-xs"><i class="fa fa-bell"></i> Enable</a></p>
            {% endif %}
            <p>
                <a href="{% url 'group_edit' groupid=group.id %}" class="btn btn-info"><i class="fa fa-edit"></i> Edit group</a> 
                {% if group.sites.count == 0 %}
                    <a href="{% url 'group_delete' groupid=group.id %}" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete group</a>
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>
{% include 'includes/site_panel.html' with sites=group.sites.all headline="Sites in group "|add:group.name %}
{% include 'includes/alert_panel.html' with alerts=group.alerts.all headline="Configured Alerts for group "|add:group.name type="Group" %}
{% endblock content %}
