{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block head_title %}Edit Group{% endblock head_title %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><h4>Edit Group {{ group.name }}</h4></div>
    <div class="panel-body">
        <form method="post" class="form-horizontal">
            <fieldset>
                {% csrf_token %}
                {% include 'includes/formfields/textfield.html' with fieldname='name' label='Group Name:' formfield=form.name placeholder='Group Name (e.g. "Production Sites")' %}
                {% include 'includes/formfields/numberfield.html' with fieldname='interval_hours' label='Interval in hours' formfield=form.interval_hours placeholder='Check Interval in hours' %}
                {% include 'includes/formfields/booleanfield.html' with fieldname='publish' text='Publish' label='Publish checks of sites in this group on the SSL Labs website' formfield=form.publish %}
                {% url 'group_list' as cancelurl %}
                {% include 'includes/formfields/submitcancel.html' with submittext='Save Changes' canceltext='Cancel' cancelurl=cancelurl %}
            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}
