{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block head_title %}Unable to delete Group{% endblock head_title %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Unable to delete Group {{ group.name }}</h4></div>
  <div class="panel-body">
    <p>The Group {{ group.name }} can not be deleted because {{ sitecount }} sites are still members of this group. Please move the sites below to another group first.</p>
  </div>
</div>
{% endblock content %}
