<div class="form-group {% if formfield.errors %}has-error{% endif %}">
    <label for="id_{{ fieldname }}" class="col-lg-2 control-label">{{ text }}</label>
    <div class="col-lg-10">
        {% if formfield.errors %} <span class="text-error">{{ formfield.errors|join:", " }}</span>{% endif %}
        <input type="checkbox" name="{{ fieldname }}" id="id_{{ fieldname }}" {% if formfield %}checked{% endif %} > <label for="id_{{ fieldname }}" class="control-label">{{ label }}</label>
    </div>
</div>
