{% extends "base.html" %}
{% load i18n %}
{% block head_title %}Alerts{% endblock head_title %}

{% block content %}

<p>
{% if filteruser %}
<a href="{% url 'alert_list' %}" class="btn btn-info"><i class="fa fa-group"></i> Show all alerts</a>
{% else %}
<a href="{% url 'alert_list_user' %}" class="btn btn-info"><i class="fa fa-user"></i> Show only my alerts</a>
{% endif %}
</p>

{% include 'includes/alert_panel.html' with alerts=sitealerts headline="Site Alerts" type="Site" filteruser=filteruser %}
{% include 'includes/alert_panel.html' with alerts=groupalerts headline="Group Alerts" type="Group" filteruser=filteruser %}
{% include 'includes/alert_panel.html' with alerts=tagalerts headline="Tag Alerts" type="Tag" filteruser=filteruser %}
{% endblock content %}
