{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block head_title %}Disable Tag Alert{% endblock head_title %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Disable Tag Alerting</h4></div>
  <div class="panel-body">
    <p>Really disable alerting for the tag <b>{{ tag }}</b> for user <b>{{ user }}</b>?</p>
    <form action="" method="post">
    {% csrf_token %}
    {% url 'tag_list' tagslug=tag.slug as cancelurl %}
    {% include 'includes/formfields/submitcancel.html' with submittext='Disable Alerting' submitclass='btn-danger' canceltext='Cancel' cancelurl=cancelurl %}
</form>
{% endblock content %}
