{% extends "base.html" %}
{% load i18n %}
{% load get_site_alerting %}
{% block head_title %}{{ site.hostname }} details{% endblock head_title %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><h4>Details for site {{ site.hostname }}</h4></div>
    <div class="panel-body">
        <p>This site is a member of the group <b>{{ site.group.name }}</b> which is 
        being checked every <b>{{ site.group.interval_hours }} hours</b>. 
        Checks of this site <b>{% if site.group.publish %}will{% else %}will not{% endif %}</b> be 
        published on the SSL Labs website.</p>
        {% if user.is_authenticated %}
            {% if site|get_site_alerting:request.user %}
                <p>Alerting is <b>enabled</b> for you for this site. {% if user.is_authenticated %}<a href="{% url 'disable_site_alert' siteid=site.id %}" class="btn btn-danger btn-xs"><i class="fa fa-bell"></i> Disable</a>{% endif %}</p>
            {% else %}
                <p>Alerting is <b>not enabled</b> for you for this site. {% if user.is_authenticated %}<a href="{% url 'enable_site_alert' siteid=site.id %}" class="btn btn-success btn-xs"><i class="fa fa-bell"></i> Enable alerting</a>{% endif %}</p>
            {% endif %}
        {% endif %}
        {% if site.tags.all %}
            <p>This site is tagged with the following tags:
            {% for tag in site.tags.all %}<a href="{% url 'tag_details' tagslug=tag.slug %}"><span class="label label-info">{{ tag.name }}</span></a> {% endfor %}
        {% else %}
            <p>This site has no tags</p>
        {% endif %}
        {% if user.is_authenticated %}
        <p>
            <a href="{% url 'site_edit' siteid=site.id %}" class="btn btn-info"><i class="fa fa-edit"></i>Edit site</a> 
            <a href="{% url 'site_delete' siteid=site.id %}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete site</a> 
        </p>
        {% endif %}
    </div>
</div>
{% include 'includes/check_panel.html' with checks=site.checks %}
{% include 'includes/alert_panel.html' with alerts=site.alerts.all headline="Configured Alerts for "|add:site.hostname type="Site" %}
{% endblock content %}
