{% load format_result %}
<div class="panel panel-default">
    <div class="panel-heading"><h4>Checks</h4></div>
    <div class="panel-body">
        {% if checks.count == 0 %}
        <p>This site has not been checked yet.</p>
        {% else %}
        <table class="table table-striped table-hover tablesorter" style="font-size:larger; vertical-align:middle;">
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>When</th>
                    <th>Urgent?</th>
                    <th>Status Message</th>
                    <th>IP</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for check in checks.all %}
                    <tr>
                        <td>{{ check.site.hostname }}</td>
                        <td>{{ check.finish_time }}</td>
                        <td>{{ check.urgent }}</td>
                        <td>{{ check.status }}</td>
                        {% if check.results.all.count == 0 %}
                            <td>N/A</td>
                            <td>N/A</td>
                        {% elif check.results.all.count > 0 %}
                            <td>{{ check.results.all.0.serverip }}</td>
                            <td>{{ check.results.all.0|format_result|safe }}</td>
                        {% endif %}
                    </tr>
                    {% if check.results.all.count > 1 %}
                        {% for result in check.results.all|slice:"1:" %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>{{ result.serverip }}</td>
                            <td>{{ result|format_result|safe }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% include 'includes/tablesorter.js.html' %}
