{% load get_group_alerting %}
<div class="panel panel-default">
    <div class="panel-heading"><h4>Groups</h4></div>
    <div class="panel-body">
    {% if not groups %}
        <p>No Groups defined.</p>
    {% else %}
        <table class="table table-striped table-hover" style="font-size:larger; vertical-align:middle;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Check Interval</th>
                    <th class="text-center">Sites</th>
                    <th class="text-center">Publish</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td><a href="{% url 'group_details' groupid=group.id %}">{{ group.name }}</a></td>
                        <td>{{ group.interval_hours }} hours</td>
                        <td class="text-center">{{ group.sites.count }}</td>
                        <td class="text-center">{% if group.publish %}<span class="label label-success"><i class="fa fa-check"></i> Yes</span>{% else %}<span class="label label-danger"><i class="fa fa-remove"></i> No</span>{% endif %}</td>
                        <td>
                            <a href="{% url 'group_details' groupid=group.id %}" class="btn btn-info btn-xs"><i class="fa fa-search"></i> Details</a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'group_edit' groupid=group.id %}" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                <a href="{% url 'group_delete' groupid=group.id %}" class="btn btn-danger btn-xs {% if group.sites.all %}disabled{% endif %}"><i class="fa fa-trash-o"></i> Delete</a> 
                                {% if group|get_group_alerting:request.user %}
                                    <a href="{% url 'disable_group_alert' alertid=group|get_group_alerting:request.user %}" class="btn btn-danger btn-xs"><i class="fa fa-bell"></i> Disable</a> 
                                {% else %}
                                    <a href="{% url 'enable_group_alert' groupid=group.id %}" class="btn btn-success btn-xs"><i class="fa fa-bell"></i> Enable</a> 
                                {% endif %}
                                <a href="{% url 'group_check' groupid=group.id %}" class="btn btn-warning btn-xs {% if not group.sites.all %}disabled{% endif %}"><i class="fa fa-arrow-right"></i> Check!</a> 
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if user.is_authenticated %}
            <p><a href="{% url 'group_add' %}" class="btn btn-success"><i class="fa fa-plus"></i> Add Group</a></p>
        {% endif %}
    </div>
</div>
