<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?page=1" class="btn btn-info"><i class="fa fa-angle-double-left"></i></a> 
            <a href="?page={{ objects.previous_page_number }}" class="btn btn-info"><i class="fa fa-angle-left"></i></a>
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}" class="btn btn-info"><i class="fa fa-angle-right"></i></a>
            <a href="?page={{ objects.paginator.num_pages }}" class="btn btn-info"><i class="fa fa-angle-double-right"></i></a>
        {% endif %}
    </span>
</div>
