{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block head_title %}Group Details{% endblock head_title %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><h4>Details for group {{ group.name }}</h4></div>
    <div class="panel-body">
        <ul>
            <li>This group of sites is being checked every <span class="label label-success">{{ group.interval_hours }} hours</span></li>
            <li>Result publishing is <span class="label label-success">{% if group.publish %}enabled{% else %}not enabled{% endif %}</span> for sites in this group</li>. 
        </ul>
        {% include 'includes/site_panel.html' with sites=group.sites.all headline="Sites in group "|add:group.name tableonly=True %}
    </div>
</div>
{% endblock content %}
